In [0]:
# Ruta del archivo
file_path = "dbfs:/FileStore/Mall_Customers__1_.csv"

# Leer el archivo CSV en un DataFrame de Spark
df = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load(file_path)

# Crear una vista temporal con nombre 'customers'
df.createOrReplaceTempView("customers")

In [0]:
# Contar el número de registros en la tabla
spark.sql("SELECT COUNT(*) AS total_customers FROM customers").show()

+---------------+
|total_customers|
+---------------+
|            200|
+---------------+

In [0]:
# Calcular el promedio de edad de los clientes
spark.sql("SELECT AVG(Age) AS avg_age FROM customers").show()

+-------+
|avg_age|
+-------+
|  38.85|
+-------+

In [0]:
# Filtrar los clientes que tienen un gasto anual mayor a 70
spark.sql("SELECT * FROM customers WHERE `Annual Income (k$)` > 70").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|       127|  Male| 43|                71|                    35|
|       128|  Male| 40|                71|                    95|
|       129|  Male| 59|                71|                    11|
|       130|  Male| 38|                71|                    75|
|       131|  Male| 47|                71|                     9|
|       132|  Male| 39|                71|                    75|
|       133|Female| 25|                72|                    34|
|       134|Female| 31|                72|                    71|
|       135|  Male| 20|                73|                     5|
|       136|Female| 29|                73|                    88|
|       137|Female| 44|                73|                     7|
|       138|  Male| 32|                73|                    73|
|       139|  Male| 19|                74|                    10|
|       140|Female| 35|                74|                    72|
|       141|Female| 57|                75|                     5|
|       142|  Male| 32|                75|                    93|
|       143|Female| 28|                76|                    40|
|       144|Female| 32|                76|                    87|
|       145|  Male| 25|                77|                    12|
|       146|  Male| 28|                77|                    97|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

In [0]:
# Contar cuántos clientes son hombres y cuántos son mujeres
spark.sql("SELECT Genre, COUNT(*) AS total FROM customers GROUP BY Genre").show()

+------+-----+
| Genre|total|
+------+-----+
|Female|  112|
|  Male|   88|
+------+-----+

In [0]:
%sql
SELECT COUNT(*) AS total_customers
FROM customers;

total_customers
200

In [0]:
%sql
SELECT AVG(Age) AS avg_age
FROM customers;

avg_age
38.85

In [0]:
%sql
SELECT *
FROM customers
WHERE `Annual Income (k$)` > 70;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
127,Male,43,71,35
128,Male,40,71,95
129,Male,59,71,11
130,Male,38,71,75
131,Male,47,71,9
132,Male,39,71,75
133,Female,25,72,34
134,Female,31,72,71
135,Male,20,73,5
136,Female,29,73,88
137,Female,44,73,7
138,Male,32,73,73
139,Male,19,74,10
140,Female,35,74,72
141,Female,57,75,5
142,Male,32,75,93
143,Female,28,76,40
144,Female,32,76,87
145,Male,25,77,12
146,Male,28,77,97
147,Male,48,77,36
148,Female,32,77,74
149,Female,34,78,22
150,Male,34,78,90
151,Male,43,78,17
152,Male,39,78,88
153,Female,44,78,20
154,Female,38,78,76
155,Female,47,78,16
156,Female,27,78,89
157,Male,37,78,1
158,Female,30,78,78
159,Male,34,78,1
160,Female,30,78,73
161,Female,56,79,35
162,Female,29,79,83
163,Male,19,81,5
164,Female,31,81,93
165,Male,50,85,26
166,Female,36,85,75
167,Male,42,86,20
168,Female,33,86,95
169,Female,36,87,27
170,Male,32,87,63
171,Male,40,87,13
172,Male,28,87,75
173,Male,36,87,10
174,Male,36,87,92
175,Female,52,88,13
176,Female,30,88,86
177,Male,58,88,15
178,Male,27,88,69
179,Male,59,93,14
180,Male,35,93,90
181,Female,37,97,32
182,Female,32,97,86
183,Male,46,98,15
184,Female,29,98,88
185,Female,41,99,39
186,Male,30,99,97
187,Female,54,101,24
188,Male,28,101,68
189,Female,41,103,17
190,Female,36,103,85
191,Female,34,103,23
192,Female,32,103,69
193,Male,33,113,8
194,Female,38,113,91
195,Female,47,120,16
196,Female,35,120,79
197,Female,45,126,28
198,Male,32,126,74
199,Male,32,137,18
200,Male,30,137,83

In [0]:
%sql
SELECT Genre, COUNT(*) AS total
FROM customers
GROUP BY Genre;

Genre,total
Female,112
Male,88

In [0]:
# Crear tabla temporal
spark.sql("CREATE OR REPLACE TEMP VIEW customers_temp AS SELECT * FROM customers")

Out[18]: DataFrame[]

In [0]:
%sql
SELECT *
FROM customers_temp
LIMIT 10;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
1,Male,19,15,39
2,Male,21,15,81
3,Female,20,16,6
4,Female,23,16,77
5,Female,31,17,40
6,Female,22,17,76
7,Female,35,18,6
8,Female,23,18,94
9,Male,64,19,3
10,Female,30,19,72

In [0]:
from pyspark.sql import functions as F

# Consulta 1: Contar el número de clientes
df_query1 = spark.sql("SELECT COUNT(*) AS total_customers FROM customers") \
    .withColumn("avg_age", F.lit(None)) \
    .withColumn("Genre", F.lit(None)) \
    .withColumn("Age", F.lit(None)) \
    .withColumn("Annual_Income", F.lit(None)) \
    .withColumn("Spending_Score", F.lit(None)) \
    .withColumn("query", F.lit("query1"))

# Consulta 2: Calcular el promedio de edad de los clientes
df_query2 = spark.sql("SELECT AVG(Age) AS avg_age FROM customers") \
    .withColumn("total_customers", F.lit(None)) \
    .withColumn("Genre", F.lit(None)) \
    .withColumn("Age", F.lit(None)) \
    .withColumn("Annual_Income", F.lit(None)) \
    .withColumn("Spending_Score", F.lit(None)) \
    .withColumn("query", F.lit("query2"))

# Consulta 3: Filtrar los clientes con un ingreso anual mayor a 70k
df_query3 = spark.sql("""
SELECT CustomerID AS total_customers, Genre, Age, `Annual Income (k$)` AS Annual_Income, 
`Spending Score (1-100)` AS Spending_Score 
FROM customers WHERE `Annual Income (k$)` > 70
""") \
    .withColumn("avg_age", F.lit(None)) \
    .withColumn("query", F.lit("query3"))

# Consulta 4: Contar la cantidad de clientes por género
df_query4 = spark.sql("SELECT Genre, COUNT(*) AS total_customers FROM customers GROUP BY Genre") \
    .withColumn("avg_age", F.lit(None)) \
    .withColumn("Age", F.lit(None)) \
    .withColumn("Annual_Income", F.lit(None)) \
    .withColumn("Spending_Score", F.lit(None)) \
    .withColumn("query", F.lit("query4"))

In [0]:
# Unir los DataFrames
combined_df = df_query1.unionByName(df_query2).unionByName(df_query3).unionByName(df_query4)

In [0]:
output_path = "/FileStore/output/combined_queries_parquet"
combined_df.write.mode("overwrite").parquet(output_path)

In [0]:
# Leer el archivo Parquet y mostrar el contenido
df_parquet = spark.read.parquet("/FileStore/output/combined_queries_parquet")
df_parquet.show()

+---------------+-------+------+---+-------------+--------------+------+
|total_customers|avg_age| Genre|Age|Annual_Income|Spending_Score| query|
+---------------+-------+------+---+-------------+--------------+------+
|            127|   null|  Male| 43|           71|            35|query3|
|            128|   null|  Male| 40|           71|            95|query3|
|            129|   null|  Male| 59|           71|            11|query3|
|            130|   null|  Male| 38|           71|            75|query3|
|            131|   null|  Male| 47|           71|             9|query3|
|            132|   null|  Male| 39|           71|            75|query3|
|            133|   null|Female| 25|           72|            34|query3|
|            134|   null|Female| 31|           72|            71|query3|
|            135|   null|  Male| 20|           73|             5|query3|
|            136|   null|Female| 29|           73|            88|query3|
|            137|   null|Female| 44|           73|             7|query3|
|            138|   null|  Male| 32|           73|            73|query3|
|            139|   null|  Male| 19|           74|            10|query3|
|            140|   null|Female| 35|           74|            72|query3|
|            141|   null|Female| 57|           75|             5|query3|
|            142|   null|  Male| 32|           75|            93|query3|
|            143|   null|Female| 28|           76|            40|query3|
|            144|   null|Female| 32|           76|            87|query3|
|            145|   null|  Male| 25|           77|            12|query3|
|            146|   null|  Male| 28|           77|            97|query3|
+---------------+-------+------+---+-------------+--------------+------+
only showing top 20 rows